[submodule "concord4-rs"]
	path = concord4-rs
	url = https://github.com/JoeyEamigh/concord4-rs.git
[submodule "concord4ws-py"]
	path = concord4ws-py
	url = https://github.com/JoeyEamigh/concord4ws-py.git
[submodule "concord4ws-ha"]
	path = concord4ws-ha
	url = https://github.com/JoeyEamigh/concord4ws-ha.git
